

<div class="grid simple col-md-12 col-sm-12" ng-show = "createItem">
	
    <div class="grid-title">
		<div class="row">
			<div class="col-md-9">
				<div class="page-title"> <i class="fa fa-keyboard-o" aria-hidden="true"></i>
					<h3>Menu - <span class="semi-bold">Settings</span></h3>
				</div>
			</div>
			<div class="col-md-1 col-sm-3 marginOff">
				<button type="submit" class="btn btn-primary btn-block showBtn" ng-click="itemEvent()">Show List</button>
				<!-- <button type="submit" class="btn btn-primary btn-block" ng-click="">Update</button> -->
			</div>
			<div class="col-md-1 col-sm-3 marginOff">
				<button type="submit" class="btn btn-primary btn-block resetBtn" ng-click="clearField()">Reset</button>
			</div>
			<div class="col-md-1  col-sm-3 marginOff">
				<button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="vm.AddMenuSetting()">Save</button>
			</div>	
		</div>
    </div>
    <div class="grid-body">
		<div class="row">

			<form class="form-horizontal col-sm-12" name="vm.menuSetup">
				<div class="row">
					<div class="col-md-6 col-xm-12">
						<div class="form-group">
							<label class="col-sm-5 control-label">Menu Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Menu Name" ng-model="vm.menuSetup.MenuName">
								<input type="hidden" class="form-control" placeholder="Articel No" ng-model="vm.menuSetup.MenuCode">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Menu Short Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Menu Short Name" ng-model="vm.menuSetup.MenuShortName">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-5 control-label">Module Name*</label>
							<div class="col-sm-7">
								<ui-select ng-model="vm.module.selected" theme="bootstrap" ng-click="vm.moduleID = $select.selected.ModuleID">
									<ui-select-match placeholder="-Select Module-">{{$select.selected.ModuleName}}</ui-select-match>
									<ui-select-choices repeat="module in vm.modules | filter: $select.search">
										<div ng-bind-html="module.ModuleName | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Menu Path</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Menu Path" ng-model="vm.menuSetup.MenuPath">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Report Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Report Name" ng-model="vm.menuSetup.ReportName">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-sm-5 control-label">Report Path</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Report Path" ng-model="vm.menuSetup.ReportPath">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-5 control-label">Parent Name</label>
							<div class="col-sm-7">
								<ui-select ng-model="vm.parent.selected" theme="bootstrap" ng-click="vm.parentMenuID = $select.selected.MenuID">
									<ui-select-match placeholder="-Select Parent-">{{$select.selected.MenuName}}</ui-select-match>
									<ui-select-choices repeat="parent in vm.parents | filter: $select.search">
										<div ng-bind-html="parent.MenuName | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Menu Sequence</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" placeholder="Menu Sequence" ng-model="vm.menuSetup.Sequence">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Menu Type</label>
							<div class="col-sm-7">
								<ui-select ng-model="vm.menutype.selected" theme="bootstrap" ng-click="vm.menuTypeID = $select.selected.MenuTypeID">
									<ui-select-match placeholder="-Select Menu Type-">{{$select.selected.MenuTypeName}}</ui-select-match>
									<ui-select-choices repeat="menutype in vm.menutypes | filter: $select.search">
										<div ng-bind-html="menutype.MenuTypeName | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">Icome Name</label>
                            <div class="col-sm-7">

                                <select id="ModeIconDropDown" class="select2-select-00" style="width:100%;" ng-model="vm.menuSetup.MenuIconCss" name="modeIconDropDown" data-placeholder="--Select Icon--">
                                    <option></option>
                                    <option style="float:left;" class="icon-cogs" value="icon-cogs">icon-cogs </option>
                                    <option style="float:left;" class="icon-angle-right" value="icon-angle-right">icon-angle-right</option>
                                    <option style="float:left;" class="icon-shopping-cart" value="icon-shopping-cart">icon-shopping-cart  </option>
                                    <option style="float:left;" class="icon-bar-chart" value="icon-bar-chart">icon-bar-chart  </option>
                                    <option style="float:left;" class="icon-truck" value="icon-truck">icon-truck</option>
                                    <option style="float:left;" class="icon-hdd" value="icon-hdd">icon-hdd  </option>
                                    <option style="float:left;" class="icon-usd" value="icon-usd">icon-usd  </option>
                                    <option style="float:left;" class="icon-coffee" value="icon-coffee">icon-coffee</option>
                                    <option style="float:left;" class="icon-qrcode" value="icon-qrcode">icon-qrcode</option>
                                    <option style="float:left;" class="icon-male" value="icon-male">icon-male"</option>
                                </select>                              
                            </div>
						</div>
					</div>
				</div>
			</form>

		</div>
    </div>
</div>

<!-- Item Entry List Grid -->

<div class="grid simple col-md-12" ng-show = "showItem" >
    <div class="grid-title">
		<div class="row">
			<div class="col-md-11">
				<div class="page-title"> <i class="fa fa-keyboard-o" aria-hidden="true"></i>
					<h3>Menu - <span class="semi-bold">List</span></h3>
				</div>
			</div>
			
			<div class="col-md-1 marginOff">
				<button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="listEvent()">Create</button>
			</div>
		</div>
	</div>
	<div class="grid-body">
		<div class="row">
            <div class="col-md-12">             

                <input id="custSearch" ng-model="custSearch" type="text" class="form-control search" placeholder="Search Anyting...">

                <table st-table="rowCollection" class="table table-bordered">
                    <thead>
                        <tr>
                            <th st-sort="ItemID">Menu Name</th>
                            <th st-sort="ItemName">Menu Short Name</th>
                            <th st-sort="ItemBrandID">Menu Path</th>
                            <th st-sort="ItemCategoryID">Report Name</th>
                            <th st-sort="ItemGroupID">Menu Icon Css</th>
                            <th st-sort="ItemSeasonID">Parent Menu</th>
                            <th st-sort="Unit">Module Name</th>
                            <th st-sort="UOMID">Menu Type</th>
                            <th st-sort="">Edit</th>
                        </tr>
                        <tr>
                            <!-- <th>
                    <input st-search="'ItemName'" placeholder="search for ItemName" class="input-sm form-control" type="search"/>
                </th>
                 <th colspan="4">
                    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
                </th>  -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rowMenu in vm.menuList |filter:custSearch">
                            <td>{{rowMenu.MenuName}}</td>
                            <td>{{rowMenu.MenuShortName}}</td>
                            <td>{{rowMenu.MenuPath}}</td>
                            <td>{{rowMenu.ReportName}}</td>
                            <td>{{rowMenu.MenuIconCss}}</td>
                            <td>{{rowMenu.ParentMenu}}</td>
                            <td>{{rowMenu.ModuleName}}</td>
                            <td>{{rowMenu.MenuTypeName}}</td>
                            <td>
                                <button href="#" class="btn btn-info btn-xs btn-mini" ng-click="vm.editMenu(rowMenu.MenuID)">Edit</button>
                                <button href="/manage-deliveryman-info/edit/1" class="btn btn-primary btn-xs btn-mini" ng-click="vm.DeleteMenu(rowMenu.MenuID,true)">Delete</button>
                            </td>
                        </tr>
                    </tbody>               
                </table>
            </div> 
		</div>
	</div>	
</div>	


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  	<div class="modal-content">
			<div class="modal-body">	
				<div class="row">
					<div class="col-md-12">
						<div class="page-title"> <i class="fa fa-keyboard-o" aria-hidden="true"></i>
							<h3>Edit Menu - <span class="semi-bold">Entry</span></h3>
						</div>
					</div>
				</div>
				<div class="grid-body">
					<div class="row">
						<form class="form-horizontal col-sm-8" name="vm.menuSetup">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label">Menu Code</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Articel No" ng-model="vm.menuSetup.MenuCode">
											<input type="hidden" class="form-control" placeholder="Articel No" ng-model="vm.MenuID">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Menu Name</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Menu Name" ng-model="vm.menuSetup.MenuName">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Menu Short Name</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Menu Short Name" ng-model="vm.menuSetup.MenuShortName">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-5 control-label">Module Name*</label>
										<div class="col-sm-7">
											<ui-select ng-model="vm.module.selected" theme="bootstrap" ng-click="vm.moduleID = $select.selected.ModuleID">
												<ui-select-match placeholder="-Select Module-">{{$select.selected.ModuleName}}</ui-select-match>
												<ui-select-choices repeat="module in vm.modules | filter: $select.search">
													<div ng-bind-html="module.ModuleName | highlight: $select.search"></div>
												</ui-select-choices>
											</ui-select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Menu Path</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Menu Path" ng-model="vm.menuSetup.MenuPath">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Report Name</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Report Name" ng-model="vm.menuSetup.ReportName">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-sm-5 control-label">Report Path</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Report Path" ng-model="vm.menuSetup.ReportPath">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-5 control-label">Parent Name</label>
										<div class="col-sm-7">
											<ui-select ng-model="vm.parent.selected" theme="bootstrap" ng-click="vm.parentMenuID = $select.selected.MenuID">
												<ui-select-match placeholder="-Select Parent-">{{$select.selected.MenuName}}</ui-select-match>
												<ui-select-choices repeat="parent in vm.parents | filter: $select.search">
													<div ng-bind-html="parent.MenuName | highlight: $select.search"></div>
												</ui-select-choices>
											</ui-select>
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Menu Sequence</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Menu Sequence" ng-model="vm.menuSetup.Sequence">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Menu Type</label>
										<div class="col-sm-7">
											<ui-select ng-model="vm.menutype.selected" theme="bootstrap" ng-click="vm.menuTypeID = $select.selected.MenuTypeID">
												<ui-select-match placeholder="-Select Menu Type-">{{$select.selected.MenuTypeName}}</ui-select-match>
												<ui-select-choices repeat="menutype in vm.menutypes | filter: $select.search">
													<div ng-bind-html="menutype.MenuTypeName | highlight: $select.search"></div>
												</ui-select-choices>
											</ui-select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Icome Name</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" placeholder="Icone Name" ng-model="vm.menuSetup.MenuIconCss">
										</div>
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>		
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.patchMenu()">Save changes</button>
			</div>
	  	</div>
	  <!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>

















<style>
	.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
.modal-content{
	width: 1660px;
    margin-left: -405px;
}
</style>