<div class="grid simple col-md-12" ng-show="vm.UserInfoList.length > 0 ? true : false">
    <div class="col-md-6 pull-right">
        <div class="form-group">
            <div class="col-md-5">
                <label class="control-label pull-right" style="font-weight:bold; margin-top:5px">Select Your Student</label>
            </div>
            <div class="col-md-7">
                <ui-select ng-model="vm.user.selected" theme="bootstrap" ng-click="vm.UserID = $select.selected.UserID" on-select="getStudentPeriodByddl($select.selected.UserID)">
                    <ui-select-match placeholder="-Select Your Student-">
                        {{$select.selected.UserFullName}}
                        <span style="float:right" ng-click="vm.UserID = null; $select.selected=undefined; DayArray = []">
                            <i class="fa fa-remove" aria-hidden="true"></i>
                        </span>
                    </ui-select-match>
                    <ui-select-choices repeat="user in vm.UserInfoList | filter: $select.search">
                        <div ng-bind-html="user.UserFullName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
<div class="grid simple col-md-12">
    <div class="page-title" style="text-align:center; font-weight:bolder">
        <h3 style="text-align:center; font-weight:bolder">{{vm.title}}<hr style="width:50%;text-align:center; margin:0 0 0 25%; padding: 0;border:1px solid #808080;" /></h3>
    </div>
    <div class="grid-body">
        <div ng-show="DayArray.length > 0 ? true : false">
            <div class="col-md-12" style="margin-top:-35px; margin-left:18px">
                <div class="col-md-10">
                </div>
                <div class="col-md-1 marginOff">
                    <button type="submit" class="btn btn-danger clearfix btn-block " ng-click="printDiv('print')" ng-show="false">
                        <span class="fa fa-file-pdf-o"></span> PDF
                    </button>
                </div>
                <div class="col-md-1 marginOff">
                    <button type="submit" class="btn btn-primary btn-block printBtn pull-right" ng-click="printDiv('print')">Print</button>
                </div>
            </div>
            <table st-table="rowCollection" class="table table-bordered" style="margin-top:-22px">
                <thead>
                    <tr>
                        <th>Days</th>
                        <th width="1000px" st-sort="PeriodID" ng-repeat="pr in PeriodArray">{{pr.PeriodName}}<br />{{pr.PeriodTime}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-sort="DayID" ng-repeat="routine in DayArray">
                        <td style="vertical-align:middle; color:white; background:#808080;">{{routine.DaysName}}</td>
                        <!--<td st-sort="PeriodID" ng-repeat="prd in routine.detail">{{prd.SubjectName}}<br />{{prd.ClassName}}<br />{{prd.TeacherName}}</td>-->
                        <td style="vertical-align: {{IsB=prd.ClassName==='N/A' || prd.PeriodName === 'Tiffin Break' ? 'middle' : 'top'}}" st-sort="PeriodID" ng-repeat="prd in routine.detail">
                            <ul class="routine-cls">
                                <!--<br ng-if="IsB=prd.ClassName==='N/A' ? true : false" />-->
                                <li ng-repeat="CS in prd.CSTArray track by $index" style="font-weight: {{ssc=CS.slice(0, 4) === 'Cls:' || CS === 'Tiffin Break'  ? 'bold' : 'normal'}}">{{ClsName = CS.slice(0, 4) === 'Cls:' ? CS.substring(4) : CS}}</li>
                                <!--<hr ng-show="IsH=prd.ClassName==='N/A' ? false : true" />
                        <li ng-repeat="SA in prd.SubjectArray">{{SA}}</li>
                        <hr ng-show="IsH=prd.ClassName==='N/A' ? false : true" />
                        <li ng-repeat="TA in prd.TeacherArray">{{TA}}</li>-->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div ng-if="vm.UserTypeID !== 4">
                <table class="table1">
                    <thead>
                        <tr>
                            <th style="float:left">Nick Name :: Full Name:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{TeacherName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show="DayArray.length > 0 ? false : true">
            <h4 style="font-weight:bolder; text-align:center">No Routine has been found. Please contact with authority.</h4>
        </div>
    </div>
</div>

<div class="row font" id="print" ng-show="false">
    <!-- logo title -->
    <div class="col-md-12">
        <table width=100%>
            <tr>
                <td width=30%>
                    <div>
                        <img height="55px" width="90px" ng-src="{{InstituteLogoUrl}}" onerror="this.src='images/onairlogo.png'" alt="images/onairlogo.png" />
                    </div>
                    <div>
                        <b style="color: #131212; font-size:12px">
                            {{InstituteName}}
                            <br />{{InsAddress}}
                        </b>
                    </div>
                    <div ng-show="IsBranch">
                        <p style="font-size:12px">Branch:{{Branch}} </p>
                    </div>
                </td>

                <td width=40%>
                    <h3 style="text-align:center; font-weight:bolder;">{{vm.title}}<hr style="text-align:center; margin:0 0 0 0; padding: 0;border:1px solid #808080;" /></h3>
                </td>
                <td width=30%></td>

                <!--<td>
                    <div class="col-md-5 pull-right" style=" margin-top: -40px;">
                        <div style="float:right; margin-top: 35px;">
                            <p style="color: #131212;">
                                Phone: {{InsPhoneNo}}
                                <br style="color: #131212;"> Email: {{InsEmail}}
                                <br style="color: #131212;"> Web:{{InsWeb}}
                            </p>
                        </div>
                    </div>
                </td>-->
            </tr>
        </table>
    </div>
    <table st-table="rowCollection" class="table1" style="border-collapse: collapse; border-spacing: 10px; border:1px solid black; font-size:12px" width=100%>
        <thead>
            <tr>
                <th style="border:1px solid black; color: #131212;text-align:center">Days</th>
                <th width="1000px" style="border: 1px solid black; color: #131212;text-align:center" st-sort="PeriodID" ng-repeat="pr in PeriodArray">{{pr.PeriodName}}<br />{{pr.PeriodTime}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="routine in DayArray">
                <td style="vertical-align:middle; border:1px solid black; color: #131212;text-align:center">{{routine.DaysName}}</td>
                <td style="vertical-align: {{IsB=prd.ClassName==='N/A' || prd.PeriodName === 'Tiffin Break' ? 'middle' : 'top'}}; border:1px solid black; color: #131212;text-align:center" st-sort="PeriodID" ng-repeat="prd in routine.detail">
                    <ul style="margin: 0;padding: 0;list-style: none;text-align: center">
                        <li ng-repeat="CS in prd.CSTArray track by $index" style="font-weight: {{ssc=CS.slice(0, 4) === 'Cls:' || CS === 'Tiffin Break'  ? 'bold' : 'normal'}}">{{ClsName = CS.slice(0, 4) === 'Cls:' ? CS.substring(4) : CS}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div>
        <table class="table1">
            <thead>
                <tr>
                    <th style="float:left">Nick Name :: Full Name:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{TeacherName}}</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>

<style>


    .routine-cls {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center
    }

        .routine-cls hr {
            margin: 0;
            padding: 0;
            border: 1px dashed #eee;
        }

    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }

    .modal-content {
        width: 1500px;
        margin-left: -367px;
    }

    .no-margin {
        padding-top: 11px;
    }

    .studentInfo h4 {
        font-size: 14px;
    }
</style>

<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
<script src="http://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
<script src="http://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>
<script src="bower_components/pdfExport/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<!--<script src="/bower_components/pdfExport/kendo.all.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugkkin.autotable.js"></script>
