<div class="grid simple col-md-12" ng-show="createItem">

    <div class="grid-title">
        <div class="row">
            <div class="col-md-9">
                <div class="page-title">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <h3>
                        Holidays -
                        <span class="semi-bold">Settings</span>
                    </h3>
                </div>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block showBtn" data-toggle="modal" data-target="#myModal" ng-click="RefreshList()">Show</button>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="vm.postHolidays()" ng-disabled="vm.holidaySetup.$invalid">Save</button>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block resetBtn" ng-click="clearField()">Reset</button>
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="row">

            <form class="form-horizontal col-sm-12 " name="vm.holidaySetup">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Holiday Name</label>
                            <div class="col-sm-8">
                                <ui-select ng-model="vm.holiday.selected" name="HoliID" theme="bootstrap" ng-click="vm.holidayID = $select.selected.HolidayID" required>
                                    <ui-select-match placeholder="-Select-">
                                        {{$select.selected.HoliDayName}}
                                        <span style="float:right" ng-click="vm.holidayID = null; $select.selected=undefined">
                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="holiday in vm.holidayNames | filter: $select.search">
                                        <div ng-bind-html="holiday.HoliDayName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <span class="error" ng-show="(vm.holidaySetup.$dirty||submitted) && vm.holidaySetup.HoliID.$error.required">*</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Year</label>
                            <div class="col-sm-8">
                                <ui-select ng-model="vm.year.selected" name="YearID" theme="bootstrap" ng-click="vm.yearID = $select.selected.YearID" on-select="func()" required>
                                    <ui-select-match placeholder="-Select-">
                                        {{$select.selected.YearName}}
                                        <span style="float:right" ng-click="vm.yearID = null; $select.selected=undefined">
                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="year in vm.years | filter: $select.search">
                                        <div ng-bind-html="year.YearName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <span class="error" ng-show="(vm.holidaySetup.$dirty||submitted) && vm.holidaySetup.YearID.$error.required">*</span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">From Date</label>
                            <div class="col-sm-8">
                               
                                    <datepicker date-format="MM-dd-yyyy" selector="form-control" ng-click="date()">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Choose a date" ng-model="vm.formDateSetup" name="fDate" required/>
                                            <span class="input-group-addon" style="cursor: pointer">
                                                <i class="fa fa-lg fa-calendar"></i>
                                            </span>
                                        </div>
                                    </datepicker>

                            </div>
                            <span class="error" ng-show="(vm.holidaySetup.$dirty||submitted) && vm.holidaySetup.fDate.$error.required">*</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">To Date</label>
                            <div class="col-sm-8">
                                <datepicker date-format="MM-dd-yyyy" selector="form-control" ng-click="date()">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Choose a date" ng-model="vm.toDateSetup" name="tDate" required>
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                            <span class="error" ng-show="(vm.holidaySetup.$dirty||submitted) && vm.holidaySetup.tDate.$error.required">*</span>
                        </div>
                        
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Total Days</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Day" ng-model="vm.diffDays" disabled>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Is Active</label>
                            <div class="col-sm-2">
                                <div class="checkbox check-primary">
                                    <input id="{{$index + 200}}" type="checkbox" ng-model="vm.IsActive" name="Ac" required>
                                    <label for="{{$index + 200}}"></label>
                                </div>
                            </div>
                            <span class="error" ng-show="(vm.holidaySetup.$dirty||submitted) && vm.holidaySetup.Ac.$error.required">*</span>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    </div>
 

    <!--modal Start-->

        <!-- ---------------------------------------------------- Start UI-Grid ------------------------------------------------ -->
    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="float:left">Holiday List</h4>
                </div>
                <div class="modal-body">
                    <div class="grid-body">
                        <div class="row">
                            <div class="col-md-12" style="text-align:right">
                                <input type="text" ng-model="SearchProperty" placeholder="Search Holiday Name" ng-keyup="$event.keyCode == 13 ? SearchNow(SearchProperty) : null" />
                                <button type="button" class="close" aria-label="Close" ng-click="SearchCancel('')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns ui-grid-exporter ui-grid-pinning
                                     class="grid" style="height:550px"></div>

                                <div class="loadmore">
                                    <div ng-show="loaderMore" ng-class="result">
                                        <!-- <img src="~/Content/img/ng-loader.gif" /> -->
                                        {{lblMessage}}
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div role="contentinfo" style="margin-bottom: -20px;" class="ui-grid-pager-panel ng-scope">
                                    <div role="navigation" class="ui-grid-pager-container">
                                        <div role="menubar" class="ui-grid-pager-control">
                                            <!-- Start Page -->
                                            <button type="button" role="menuitem" class="ui-grid-pager-first" ui-grid-one-bind-title="aria.pageToFirst" ui-grid-one-bind-aria-label="aria.pageToFirst"
                                                    ng-click="pagination.firstPage()" ng-disabled="cantPageBackward()" title="Page to first" aria-label="Page to first"
                                                    disabled="disabled">
                                                <div class="first-triangle">
                                                    <div class="first-bar"></div>
                                                </div>
                                            </button>

                                            <!-- Prev Page -->
                                            <button type="button" role="menuitem" class="ui-grid-pager-previous" ui-grid-one-bind-title="aria.pageBack" ui-grid-one-bind-aria-label="aria.pageBack"
                                                    ng-click="pagination.previousPage()" ng-disabled="cantPageBackward()" title="Page back" aria-label="Page back"
                                                    disabled="disabled">
                                                <div class="first-triangle prev-triangle"></div>
                                            </button>

                                            <input type="number" ui-grid-one-bind-title="aria.pageSelected" ui-grid-one-bind-aria-label="aria.pageSelected" class="ui-grid-pager-control-input ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max ng-valid-required"
                                                   ng-model="pagination.pageNumber" min="1" max="{{pagination.getTotalPages()}}" required="" title="Selected page"
                                                   aria-label="Selected page" />

                                            <span class="ui-grid-pager-max-pages-number ng-binding" ng-show="pagination.getTotalPages() > 0">
                                                <abbr ui-grid-one-bind-title="paginationOf" title="of">/</abbr>{{pagination.getTotalPages()}}
                                            </span>

                                            <!-- Next Page -->
                                            <button type="button" role="menuitem" class="ui-grid-pager-next" ui-grid-one-bind-title="aria.pageForward" ui-grid-one-bind-aria-label="aria.pageForward"
                                                    ng-click="pagination.nextPage()" ng-disabled="cantPageForward()" title="Page forward" aria-label="Page forward">
                                                <div class="last-triangle next-triangle"></div>
                                            </button>

                                            <!-- Last Page -->
                                            <button type="button" role="menuitem" class="ui-grid-pager-last" ui-grid-one-bind-title="aria.pageToLast" ui-grid-one-bind-aria-label="aria.pageToLast"
                                                    ng-click="pagination.lastPage()" ng-disabled="cantPageToLast()" title="Page to last" aria-label="Page to last">
                                                <div class="last-triangle">
                                                    <div class="last-bar"></div>
                                                </div>
                                            </button>
                                        </div>
                                        <!-- ngIf: grid.options.paginationPageSizes.length > 1 -->

                                        <div class="ui-grid-pager-row-count-picker ng-scope">
                                            <select ng-model="pagination.ddlpageSize" ng-options="o as o for o in pagination.paginationPageSizes" ng-change="pagination.pageSizeChange()"
                                                    class="ng-pristine ng-untouched ng-valid ng-not-empty"></select>
                                            <span class="ui-grid-pager-row-count-label ng-binding">&nbsp;items per page</span>
                                        </div>
                                        <!-- end ngIf: grid.options.paginationPageSizes.length > 1 -->
                                        <!-- ngIf: grid.options.paginationPageSizes.length <= 1 -->
                                    </div>
                                    <div class="ui-grid-pager-count-container">
                                        <div class="ui-grid-pager-count">
                                            <span ng-show="pagination.totalItems > 0" class="ng-binding">
                                                {{pagination.pageNumber}}
                                                <abbr ui-grid-one-bind-title="paginationThrough" title="through">-</abbr>
                                                {{pagination.ddlpageSize}} of {{pagination.totalItems}} items
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------- End UI-Grid ------------------------------------------------- -->


    <style>
            .thumb {
                width: 24px;
                height: 24px;
                float: none;
                position: relative;
                top: 7px;
            }

            /*.modal-content {
            width: 1660px;
            margin-left: -405px;
        }*/
    </style>
