<div class="grid simple col-md-12" ng-show="createItem">
    <div class="grid-title">
        <div class="row">
            <div class="col-md-9">
                <div class="page-title">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <h3>
                        <span class="semi-bold">Module Data </span>
                        Process to Account
                    </h3>
                </div>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block showBtn" ng-click="itemEvent()">Show List</button>
                <!-- <button type="submit" class="btn btn-primary btn-block" ng-click="">Update</button> -->
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block resetBtn" ng-click="clearField()">Reset</button>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="vm.AddFees()">Save</button>
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="row">

            <form class="form-horizontal col-sm-8" name="vm.FeesSetup">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Module</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.shift.selected" theme="bootstrap" ng-click="vm.ShiftID = $select.selected.ShiftID">
                                    <ui-select-match placeholder="- Select Shift -">{{$select.selected.ShiftName}}</ui-select-match>
                                    <ui-select-choices repeat="shift in   vm.Shift | filter: $select.search">
                                        <div ng-bind-html="shift.ShiftName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">DocList</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.dept.selected" theme="bootstrap" ng-click="vm.DepartmentID = $select.selected.DepartmentID">
                                    <ui-select-match placeholder="- Select Department -">{{$select.selected.DepartmentName}}</ui-select-match>
                                    <ui-select-choices repeat="dept in    vm.department | filter: $select.search">
                                        <div ng-bind-html="dept.DepartmentName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Party</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.sec.selected" theme="bootstrap" ng-click="vm.SectionID = $select.selected.SectionID">
                                    <ui-select-match placeholder="- Select Section -">{{$select.selected.SectionName}}</ui-select-match>
                                    <ui-select-choices repeat="sec in   vm.section | filter: $select.search">
                                        <div ng-bind-html="sec.SectionName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">From Date</label>
                            <div class="col-sm-7 input-groups margin-bottom-sm">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Choose a date" ng-model="vm.userSetup.DOB" />
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Project</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.med.selected" theme="bootstrap" ng-click="vm.MediumID = $select.selected.MediumID">
                                    <ui-select-match placeholder="- Select Medium -">{{$select.selected.MameName}}</ui-select-match>
                                    <ui-select-choices repeat="med in   vm.medium | filter: $select.search">
                                        <div ng-bind-html="med.MameName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Cost Center</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.cls.selected" theme="bootstrap" ng-click="vm.ClassID = $select.selected.ClassID" on-select="vm.ClassSelected(vm.cls.selected.ClassID)">
                                    <ui-select-match placeholder="- Select Class -">{{$select.selected.ClassName}}</ui-select-match>
                                    <ui-select-choices repeat="cls in   vm.class | filter: $select.search">
                                        <div ng-bind-html="cls.ClassName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Narration</label>
                            <div class="col-sm-7 input-groups margin-bottom-sm">
                                <input type="text" class="form-control" placeholder="Description Here" ng-model="vm.FeesSetup.FeesHead">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">To Date</label>
                            <div class="col-sm-7 input-groups margin-bottom-sm">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Choose a date" ng-model="vm.userSetup.DOB" />
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>






<!-- for test purpose -->
<!-- <pre>{{value|json}}</pre> -->
<!-- Item Entry List Grid -->

<div class="grid simple col-md-12" ng-show="showItem">
    <div class="grid-title">
        <div class="row">
            <div class="col-md-11">
                <div class="page-title">
                    <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                    <h3>Data
                        <span class="semi-bold">Process List</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="row">
            <div class="col-md-12">
                <table st-table="rowCollection" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Doclist</th>
                            <th>Transaction Type</th>
                            <th>Voucher No</th>
                            <th>Voucher Date</th>
                            <th>Project</th>
                            <th>Cost Center</th>
                            <th>User</th>
                            <!-- <th>Edit</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fee in vm.Fees track by $index">
                            <td>{{$index+1}}</td>

                            <td ng-click="checkBoxIndex($index)">
                                <input id="checkBox" class="form-check-input" type="checkbox" ng-checked="fee.IsActive===1" ng-model="fee.IsActive" ng-click="clickEvent(fee.IsActive,fee.FeesHead,$index)"
                                />
                            </td>

                            <td>{{fee.FeesHead}}</td>
                            <td>{{fee.FeesType}}</td>
                            <td style="width:20%">
                                <input id="{{fee.FeesHead}}" type="number" text-aling="center" class="form-control text-center" placeholder="{{fee.Fee}}"
                                    ng-model="fee.inputFee" ng-readonly="isReadOnly(fee.Fee)">
                            </td>
                            <td>{{fee.FeesHead}}</td>
                            <td>{{fee.FeesHead}}</td>
                            <td>{{fee.FeesHead}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>



<style>
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }

    .modal-content {
        width: 1660px;
        margin-left: -405px;
    }

    input[type="checkbox"] {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -2px 10px 0 0;
        vertical-align: middle;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
        cursor: pointer;
    }
</style>