

<div class="grid simple col-md-12" ng-show="createItem">

    <div class="grid-title">
        <div class="row">
            <div class="col-md-9">
                <div class="page-title">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <h3>Mail - <span class="semi-bold">Settings</span></h3>
                </div>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block showBtn" ng-click="RefreshList()">Show</button>
                <!-- <button type="submit" class="btn btn-primary btn-block" ng-click="">Update</button> -->
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block resetBtn" ng-click="clearField()">Reset</button>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="vm.AddMailSettings()">Save</button>
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="row">

            <form class="form-horizontal col-sm-8" name="vm.addMail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> Subject</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="Subject" ng-model="vm.addMail.Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> Body</label>
                            <div class="col-sm-7">
                                <!-- <input type="text" class="form-control" placeholder="Body" ng-model="vm.addMail.Body"> -->
                                <textarea class="form-control" ng-model="vm.addMail.Body"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> From Email </label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" placeholder="example@gmail.com" ng-model="vm.addMail.FromEmail" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> Mail Type Name </label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.mail.selected" theme="bootstrap" ng-click="vm.MailTypeID = $select.selected.MailTypeID">
                                    <ui-select-match placeholder="-Mail Type Name-">
                                        {{$select.selected.MailTypeName}}
                                        <span style="float:right" ng-click="vm.MailTypeID = null; $select.selected=undefined">
                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="mail in  vm.mails | filter: $select.search">
                                        <div ng-bind-html="mail.MailTypeName| highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> Institute Name </label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.institute.selected" name="InsID" theme="bootstrap" ng-click="vm.instituteID = $select.selected.InstituteID" ng-disabled="vm.InstituteID!==1?true:false" required>
                                    <ui-select-match placeholder="-Select Institute-">
                                        {{$select.selected.InstituteName}}
                                        <span style="float:right" ng-click="vm.instituteID = null; $select.selected=undefined">
                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="institute in vm.institutes | filter: $select.search">
                                        <div ng-bind-html="institute.InstituteName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"> </label>
                            <div class="col-sm-5">

                            </div>

                        </div>


                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Item Entry List Grid -->

<!--<div class="grid simple col-md-12" ng-show="showItem">
    <div class="grid-title">
        <div class="row">
            <div class="col-md-11">
                <div class="page-title">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <h3>Mail - <span class="semi-bold">List</span></h3>
                </div>
            </div>

            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="listEvent()">Create</button>
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="row">
            <div class="col-md-12">


                <table st-table="rowCollection" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Subject</th>
                            <th>Mail Type</th>
                            <th>From Email</th>
                            <th>Institute </th>
                            <th>Edit</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="mail in vm.email ">
                            <td>{{$index+1}}</td>
                            <td>{{mail.Subject}}</td>
                            <td>{{mail.MailTypeName}}</td>
                            <td>{{mail.FromEmail}}</td>
                            <td>{{mail.InstituteName}}</td>
                            <td>
                                <button href="#" class="btn btn-info btn-xs btn-mini" data-toggle="modal" data-target="#myModal" ng-click="vm.editMail(mail.InsMailSetupID)">Edit</button>
                                <button href="#" class="btn btn-primary btn-xs btn-mini" ng-click="vm.deleteMail(mail.InsMailSetupID)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>-->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title">
                            <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                            <h3>Edit Mail - <span class="semi-bold">Entry</span></h3>
                        </div>
                    </div>
                </div>
                <div class="grid-body">
                    <div class="row">
                        <form class="form-horizontal col-sm-8" name="vm.addMail">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label class="col-sm-5 control-label"> Subject</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" placeholder="Subject" ng-model="vm.addMail.Subject">
                                            <input type="hidden" class="form-control" placeholder="Subject" ng-model="vm.addMail.InsMailSetupID">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label"> Body</label>
                                        <div class="col-sm-5">
                                            <!-- <input type="text" class="form-control" placeholder="Body" ng-model="vm.addMail.Body"> -->
                                            <textarea style="margin: 0px; width: 260px; height: 106px;" ng-model="vm.addMail.Body"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label"> From Email </label>
                                        <div class="col-sm-5">
                                            <input type="email" class="form-control" placeholder="example@gmail.com" ng-model="vm.addMail.FromEmail" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label"> Mail Type Name </label>
                                        <div class="col-sm-5">
                                            <ui-select ng-model="vm.mail.selected" theme="bootstrap" ng-click="vm.MailTypeID = $select.selected.MailTypeID">
                                                <ui-select-match placeholder="-Mail Type Name-">
                                                    {{$select.selected.MailTypeName}}
                                                    <span style="float:right" ng-click="vm.MailTypeID = null; $select.selected=undefined">
                                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                                    </span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="mail in  vm.mails | filter: $select.search">
                                                    <div ng-bind-html="mail.MailTypeName| highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label"> Institute Name </label>
                                        <div class="col-sm-5">
                                            <ui-select ng-model="vm.institute.selected" theme="bootstrap" ng-click="vm.instituteID = $select.selected.InstituteID">
                                                <ui-select-match placeholder="-Select Institute-">
                                                    {{$select.selected.InstituteName}}
                                                    <span style="float:right" ng-click="vm.instituteID = null; $select.selected=undefined">
                                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                                    </span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="institute in vm.institutes | filter: $select.search">
                                                    <div ng-bind-html="institute.InstituteName | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label"> </label>


                                    </div>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.updateMail()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!-- ---------------------------------------------------- Start UI-Grid ------------------------------------------------ -->
<div class="grid simple col-md-12" ng-show="showItem">
    <div class="grid-title">
        <div class="row">
            <div class="col-md-11">
                <div class="page-title">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <h3>
                        Mail -
                        <span class="semi-bold">List</span>
                    </h3>
                </div>
            </div>

            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="listEvent()">Create</button>
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="row">
            <div class="col-md-12" style="text-align:right">
                <input type="text" ng-model="SearchProperty" placeholder="Subject Name" ng-keyup="$event.keyCode == 13 ? SearchNow(SearchProperty) : null" />
                <button type="button" class="close" aria-label="Close" ng-click="SearchCancel('')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns ui-grid-exporter ui-grid-pinning
                     class="grid" style="height:550px"></div>

                <div class="loadmore">
                    <div ng-show="loaderMore" ng-class="result">
                        <!-- <img src="~/Content/img/ng-loader.gif" /> -->
                        {{lblMessage}}
                    </div>
                </div>
                <div class="row"></div>
                <div role="contentinfo" style="margin-bottom: -20px;" class="ui-grid-pager-panel ng-scope">
                    <div role="navigation" class="ui-grid-pager-container">
                        <div role="menubar" class="ui-grid-pager-control">
                            <!-- Start Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-first" ui-grid-one-bind-title="aria.pageToFirst" ui-grid-one-bind-aria-label="aria.pageToFirst"
                                    ng-click="pagination.firstPage()" ng-disabled="cantPageBackward()" title="Page to first" aria-label="Page to first"
                                    disabled="disabled">
                                <div class="first-triangle">
                                    <div class="first-bar"></div>
                                </div>
                            </button>

                            <!-- Prev Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-previous" ui-grid-one-bind-title="aria.pageBack" ui-grid-one-bind-aria-label="aria.pageBack"
                                    ng-click="pagination.previousPage()" ng-disabled="cantPageBackward()" title="Page back" aria-label="Page back"
                                    disabled="disabled">
                                <div class="first-triangle prev-triangle"></div>
                            </button>

                            <input type="number" ui-grid-one-bind-title="aria.pageSelected" ui-grid-one-bind-aria-label="aria.pageSelected" class="ui-grid-pager-control-input ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min ng-valid-max ng-valid-required"
                                   ng-model="pagination.pageNumber" min="1" max="{{pagination.getTotalPages()}}" required="" title="Selected page"
                                   aria-label="Selected page" />

                            <span class="ui-grid-pager-max-pages-number ng-binding" ng-show="pagination.getTotalPages() > 0">
                                <abbr ui-grid-one-bind-title="paginationOf" title="of">/</abbr>{{pagination.getTotalPages()}}
                            </span>

                            <!-- Next Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-next" ui-grid-one-bind-title="aria.pageForward" ui-grid-one-bind-aria-label="aria.pageForward"
                                    ng-click="pagination.nextPage()" ng-disabled="cantPageForward()" title="Page forward" aria-label="Page forward">
                                <div class="last-triangle next-triangle"></div>
                            </button>

                            <!-- Last Page -->
                            <button type="button" role="menuitem" class="ui-grid-pager-last" ui-grid-one-bind-title="aria.pageToLast" ui-grid-one-bind-aria-label="aria.pageToLast"
                                    ng-click="pagination.lastPage()" ng-disabled="cantPageToLast()" title="Page to last" aria-label="Page to last">
                                <div class="last-triangle">
                                    <div class="last-bar"></div>
                                </div>
                            </button>
                        </div>
                        <!-- ngIf: grid.options.paginationPageSizes.length > 1 -->

                        <div class="ui-grid-pager-row-count-picker ng-scope">
                            <select ng-model="pagination.ddlpageSize" ng-options="o as o for o in pagination.paginationPageSizes" ng-change="pagination.pageSizeChange()"
                                    class="ng-pristine ng-untouched ng-valid ng-not-empty"></select>
                            <span class="ui-grid-pager-row-count-label ng-binding">&nbsp;items per page</span>
                        </div>
                        <!-- end ngIf: grid.options.paginationPageSizes.length > 1 -->
                        <!-- ngIf: grid.options.paginationPageSizes.length <= 1 -->
                    </div>
                    <div class="ui-grid-pager-count-container">
                        <div class="ui-grid-pager-count">
                            <span ng-show="pagination.totalItems > 0" class="ng-binding">
                                {{pagination.pageNumber}}
                                <abbr ui-grid-one-bind-title="paginationThrough" title="through">-</abbr>
                                {{pagination.ddlpageSize}} of {{pagination.totalItems}} items
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------------------------- End UI-Grid ------------------------------------------------- -->
















<style>
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }

    .modal-content {
        width: 1660px;
        margin-left: -405px;
    }

    .form-group textarea {
        border: solid 1px #0aa69994;
    }
</style>
