<li ng-class="{active:isCurrent('')}">
    <a ui-sref="dashboard">
        <i class="fa fa-inbox"></i>
        <span class="title">Dashboard</span>
    </a>
</li>
<li ng-if="item.Menu.length > 0" ng-repeat="item in listMenu" ng-class="{active:isCurrent('')}">
    <a href="javascript:void(0);">
        <i class="{{item.IconCss}}"></i>
        <span class="title">{{item.ModuleName}}</span>
        <span ng-if="item.Menu.length > 0" class="arrow "></span>
    </a>
    <ul class="sub-menu">
        <li ng-repeat="sitem in item.Menu" ng-class="{active:isCurrent('{{sitem.State}}')}">

            <a ng-if="sitem.State.length > 0" ui-sref='{{sitem.State}}' ng-click="getmenu(sitem)">
                <span class="title">{{sitem.MenuName}}</span><span ng-if="sitem.SubMenu.length > 0" class="arrow "></span>
            </a>

            <a ng-if="sitem.State.length == 0" href="javascript:void(0);">
                <span class="title">{{sitem.MenuName}}</span><span ng-if="sitem.SubMenu.length > 0" class="arrow "></span>
            </a>

            <ul ng-if="sitem.SubMenu.length > 0" class="sub-menu">
                <li ng-repeat="suitem in sitem.SubMenu" ng-class="{active:isCurrent('{{suitem.State}}')}">
                    <a ui-sref="{{suitem.State}}" ng-click="getmenu(suitem)">
                        <span class="title">{{suitem.MenuName}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>

