<div class="grid simple col-md-12" ng-show="createItem">

    <div class="grid-title">
        <div class="row">
            <div class="col-md-9">
                <div class="page-title">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                    <h3>
                        <span class="semi-bold">Account Year</span> Closing
                    </h3>
                </div>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block showBtn" ng-click="itemEvent()">Show List</button>
                <!-- <button type="submit" class="btn btn-primary btn-block" ng-click="">Update</button> -->
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block resetBtn" ng-click="clearField()">Reset</button>
            </div>
            <div class="col-md-1 marginOff">
                <button type="submit" class="btn btn-primary btn-block saveBtn" ng-click="vm.AddFees()">Save</button>
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="row">

            <form class="form-horizontal col-sm-8" name="vm.FeesSetup">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Fiscal Year</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="vm.shift.selected" theme="bootstrap" ng-click="vm.ShiftID = $select.selected.ShiftID">
                                    <ui-select-match placeholder="- Select Shift -">{{$select.selected.ShiftName}}</ui-select-match>
                                    <ui-select-choices repeat="shift in   vm.Shift | filter: $select.search">
                                        <div ng-bind-html="shift.ShiftName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>                     
                       
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">From Date</label>
                            <div class="col-sm-7 input-groups margin-bottom-sm">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Choose a date" ng-model="vm.userSetup.DOB" />
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">To Date</label>
                            <div class="col-sm-7 input-groups margin-bottom-sm">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Choose a date" ng-model="vm.userSetup.DOB" />
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                    </div>
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- for test purpose -->
<!-- <pre>{{value|json}}</pre> -->
<!-- Item Entry List Grid -->






<style>
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }

    .modal-content {
        width: 1660px;
        margin-left: -405px;
    }

    input[type="checkbox"] {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -2px 10px 0 0;
        vertical-align: middle;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
        cursor: pointer;
    }
</style>